<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Lume Essence</title>
    <link rel="icon" href="imagens/Logo/pequenalogosemfnfo.png">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/stylesite.css">
</head>
<body>

   <div class="container">
                <div class="logo">
                    <img src="/static/imagens/Logo/horizontalsemfundo.png" alt="Lume Essence">
                </div>
            </div>   
             
  <div class="navbar">
    <div class="nav-links">
        <a href="/">Início</a>
        <a href="/produtos">Produtos</a>
        <a href="/sobre">Sobre</a>
        <a href="/contato">Contato</a>
    </div>

    <div class="nav-icons-area" style="display: flex; align-items: center; gap: 20px;">
        
        <div class="search-box">
            <input type="text" placeholder="Buscar...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>

        <div class="header-icons">
<div class="user-menu-wrapper">
    <a href="/login" class="user-icon-link">
        <i class="fa-regular fa-user"></i>
    </a>

    <div class="user-dropdown">
        <ul>
            <li>
                <a href="/area_cliente/area-cliente.html">
                    <i class="fa-solid fa-user-gear"></i> Minha Conta
                </a>
            </li>
            <li>
                <a href="/area_cliente/meus-pedidos.html">
                    <i class="fa-solid fa-box"></i> Meus Pedidos
                </a>
            </li>
            <li class="separator"></li>
            <li>
                <a href="/login" class="logout-link">
                    <i class="fa-solid fa-right-from-bracket"></i> Sair
                </a>
            </li>
        </ul>
    </div>
</div>
</div>

        <a href="/carrinho" class="cart-link" title="Carrinho">
            <i class="fas fa-shopping-bag"></i>
            <span class="cart-count">3</span>
        </a>
    </div>
</div>

    <div class="auth-container">
        <div class="auth-card">
            <h2>Bem-vindo(a)</h2>
            <span class="auth-subtitle">Acesse sua conta para continuar</span>

            <form class="auth-form">
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" placeholder="seu@email.com.br">
                </div>

                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" placeholder="********">
                </div>

                <div class="auth-links">
                    <label style="font-weight: normal; cursor: pointer;">
                        <input type="checkbox">Lembrar de mim
                    </label>
                    <a href="#">Esqueceu a senha?</a>
                </div>

                <a href="/area_cliente/area-cliente.html" type="submit" class="btn-auth">ENTRAR</a>
                
            </form>
<br>
            <div class="auth-footer">
                Ainda não tem uma conta? <a href="cadastro.html">Cadastre-se</a>
            </div>
        </div>
    </div>

<footer>
  <div class="footer-container">
    
    <div class="footer-top">
      <div class="newsletter-text">
            <i class="fas fa-tag"></i>
            <span>Receba nossas novidades e promoções.</span>
      </div>

    <form class="newsletter-form" action="/newsletter/cadastrar" method="POST">
    <input type="text" name="nome" placeholder="Nome completo" required>
    <input type="text" name="whatsapp" placeholder="WhatsApp" required>
    <input type="email" name="email" placeholder="E-mail" required>
    <button type="submit">OK</button>
    </form>
    </div>

    <hr class="footer-divider">

    <div class="footer-middle">
      
    <div class="footer-col">
        <h4>Navegação</h4>
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="/produtos">Produtos</a></li>
          <li><a href="/contato">Contato</a></li>
          <li><a href="/sobre">Sobre</a></li>
        </ul>
    </div>

    <div class="footer-col">
        <h4>Institucional</h4>
        <ul>
            <li><a href="institucional.html#trocas">Trocas e Devoluções</a></li>
            <li><a href="institucional.html#privacidade">Política de Privacidade</a></li>
            <li><a href="institucional.html#termos">Termos de Uso</a></li>
            <li><a href="rastreio.html">Rastrear Pedido</a></li>
        </ul>
    </div>

      <div class="footer-col">
            <h4>Entre em contato</h4>
            <ul class="contact-list">
            <li><i class="fab fa-whatsapp"></i><a href="https://api.whatsapp.com/send/?phone=5561996100308&text&type=phone_number&app_absent=0"> (61) 99610-0308</a></li>
            <li><i class="far fa-envelope"></i> lumeessence.contato@gmail.com</li>
            <li><i class="fas fa-map-marker-alt"></i> Brasília - DF</li>
            <li><i class="fab fa-instagram"></i><a href="https://www.instagram.com/lumeessence.oficial?igsh=dTBkZ2h1Zno4bGZl">Instagram</a></li>
            </ul>
      </div>
    </div>

    <hr class="footer-divider">

    <div class="footer-bottom">
      
      <div class="payment-section">
            <span>Formas de pagamento:</span>
            <div class="icons">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-pix"></i>
            <i class="fas fa-barcode"></i>
            </div>
      </div>

      <div class="security-section">
            <span>Segurança:</span>
            <div class="icons">
            <i class="fas fa-lock"></i> 
            <i class="fab fa-google"></i>
            </div>
      </div>

    </div>

    <div class="copyright">
      © 2025 Lume Essence - Todos os direitos reservados
    </div>
     <a href="../interno/login.html" class="admin-footer-link">Acesso da Equipe</a>
  </div>
</footer>
<script src="/static/scriptsite.js"></script>
</body>
</html>