<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lume Essence | Acesso Administrativo</title>
    <link rel="icon" href="../imagens/Logo/grandelogosemfundo.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/styleinterno.css">
</head>
<body>

    <div class="login-page">
        
        <div class="login-visual">
            <div class="overlay">
                <blockquote>"A calma é a verdadeira produtividade."</blockquote>
            </div>
        </div>

        <div class="login-content">
            <div class="form-wrapper slide-up">
                
                <div class="logo-area">
                    <img src="/static/imagens/Logo/grandelogosemfundo.png" alt="Lume Essence Logo">
                    <h2>Portal Administrativo</h2>
                    <p></p>
                </div>

                <form action="dashboard.html" method="POST"> <div class="input-group">
                        <label for="email">E-mail Corporativo</label>
                        <input type="email" id="email" placeholder="nome@lumeessence.com.br" required>
                    </div>

                    <div class="input-group">
                        <label for="password">Senha</label>
                        <input type="password" id="password" placeholder="••••••••" required>
                    </div>

                    <div class="actions">
                        <label class="remember-me">
                            <input type="checkbox"> Lembrar-me
                        </label>
                        <a href="#" class="forgot-pass">Esqueceu a senha?</a>
                    </div>

                    <a href="dashboard.html" class="btn-login" type="submit" class="btn-login">Acessar Sistema</a>
                </form>

                <footer class="login-footer">
                    <p>&copy; 2025 Lume Essence System v1.0</p>
                </footer>
                
            </div>
        </div>

    </div>

</body>
</html>